@charset "utf-8";

/* 글씨 */

.b_wrap .title {
  color: #2e2e2e;
  font-size: 23px;
  font-weight: 500;
  margin: 10px 0;
}

.b_wrap .subtitle_eng {
  color: #ee72d8;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase; /* 대소문자 */
  display: inline;
}

.b_wrap .back .app_text {
  color: white;
  font-size: 20px;
  position: relative;
  top: calc(50% - 50px);
  line-height: 30px;
  font-weight: 400;
}

/* front 아이콘 */

.b_wrap .img_wrap {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 185px;
}

.b_wrap img {
  width: 100px;
  margin: 0 auto;
  margin-top: 45px;
  padding-bottom: 50px;
  object-fit: cover;
}

#appicon {
  width: auto;
  height: 125px; /* 앱개발 아이콘 이미지 크기조정*/
  margin-top: 55px;
}

#metaverse {
  margin-top: 60px; /* 아이콘 이미지 위치조정*/
}

/* 영역 */

.b_wrap {
  font-family: "Noto Sans KR", sans-serif;
  display: block;
  min-height: 750px;
  max-width: 1400px;
  margin: 0px auto;
  padding-top: 200px;
  padding-bottom: 200px;
}

.b_wrap .b_con {
  max-width: 1400px;
  display: inline;
}

.b_wrap .b_con .b_row {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

/* 카드 배치 */

.b_wrap .flip {
  min-width: 22%;
  display: inline-block;
  position: relative;
  height: 350px;
  text-align: center;
  margin: 0 auto;
  margin: 1.5%;
  padding: 0;
  transition: 1s;
}

.b_wrap .flip_item {
  width: 100%;
  display: inline-block;
  padding-top: 50px;
  padding-bottom: 50px;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

/* 애니메이션 */
/* back 이미지 */

#back_img1 {
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle, #0000003a, #000000d5),
    url("../images/앱개발.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
}

#back_img2 {
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle, #0000003a, #000000d5),
    url("../images/웹구축.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
}

#back_img3 {
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle, #0000003a, #000000d5),
    url("../images/AI기술개발.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
}

#back_img4 {
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle, #0000003a, #000000d5),
    url("../images/XR콘텐츠.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
}

/* 마우스오버효과*/

.front {
  min-width: 230px;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: #f6f6f6;
  position: absolute;
  backface-visibility: hidden;
  transition: 1s;
  transform: rotateY(0deg);
  z-index: 2;
}

.back {
  min-width: 230px;
  width: 100%;
  height: 100%;
  padding: 20px;
  transform: rotateY(180deg);
  transition: 1s;
}

.flip:hover .front {
  transform: rotateY(180deg);
}

.flip:hover .back {
  transform: rotateY(0deg);
}

/* 반응형웹 */

@media screen and (max-width: 950px) {
  .b_wrap .b_con .b_row {
    flex-wrap: wrap;
  }
  .b_wrap .flip {
    width: 43.33333333%;
    height: 300px;
  }
}

@media screen and (max-width: 620px) {
  .b_wrap .b_con .b_row {
    width: auto;
  }
  
  .b_wrap .flip {
    width: calc(100% / 2 - 3%);
    height: 250px;
  }

  .b_wrap .title {
    font-size: 20px;
    margin-top: 0;
  }

  .b_wrap .subtitle_eng {
    font-size: 13px;
  }

  .b_wrap img {
    margin-top: 25px;
  }

  #appicon {
    margin-top: 30px;
  }

  #metaverse {
    margin-top: 45px;
  }
}

