@charset "utf-8";

/* ----- 공통 ----- */

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
/* css */
body {
  font-family: "Noto Sans KR", sans-serif;
  max-width: 1400px;
  margin: 0px auto;
}

ol,
ul {
  list-style: none;
  padding: 0;
}

div {
  display: inline;
}

a {
  display: inline-block;
  text-decoration: none;

  /* width: 100%;
    height: 100%; */
  /* background-color: #ffc6f5; */
}

a:link {
  color: #2e2e2e;
}
a:visited {
  color: #2e2e2e;
}
a:active {
  color: #2e2e2e;
}

/* ----- 카드 섹션 전체 ----- */

.b_wrap {
  display: block;
  height: 750px;
  padding-top: 200px;
}

/* ----- 글씨 ----- */

.b_wrap .title {
  color: #2e2e2e;
  font-size: 23px;
  font-weight: 500;
  margin: 10px 0;
}

.b_wrap .subTitleEng {
  color: #ee72d8;
  /* font-size: 0.938em; */
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase; /* 대소문자 */
  display: inline;
}

.b_wrap .back .app-text {
  color: white;
  font-size: 20px;
  position: relative; /*위치조정*/
  top: 85px;
}

/* ----- front 이미지 ----- */

.b_wrap .img_wrap {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 185px;
}

.b_wrap img {
  width: 100px;
  margin: 0 auto;
  margin-top: 45px;
  padding-bottom: 50px;
  object-fit: cover;
}

#appicon {
  width: auto;
  height: 125px; /* 앱개발 아이콘 이미지 크기조정*/
  margin-top: 55px;
}

#metaverse {
  margin-top: 60px; /* 아이콘 이미지 위치조정*/
}

/* ----- 카드 4등분 ----- */
.b_wrap .con {
  max-width: 1400px;
  margin: 0 auto;
}

.b_wrap .flip {
  display: inline-block;
  position: relative;
  /* width: calc(100% / 4 - 3%); */
  height: 350px;
  text-align: center;
  margin: 0 auto;
  transition: 1s;
  /* perspective: 1000px; */ /* 원근감 */
  /* perspective-origin: 50% 50%; */
  margin: 20px;
}

.b_wrap .flip-item {
  display: inline-block;
  padding-top: 50px;
  padding-bottom: 50px;

  transform-style: preserve-3d;
  backface-visibility: hidden;
}

/* ----- 애니메이션 ----- */
/* ----- back 이미지 ----- */

#back1 {
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle, #0000003a, #000000d5),
    url("../images/앱개발.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
}

#back2 {
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle, #0000003a, #000000d5),
    url("../images/웹구축.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
}

#back3 {
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle, #0000003a, #000000d5),
    url("../images/AI기술개발.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
}

#back4 {
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle, #0000003a, #000000d5),
    url("../images/XR콘텐츠.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
}

/* ----- 마우스오버 ----- */

.front {
  width: 100%;
  height: 100%;
  background-color: #f6f6f6;
  position: absolute; /* 이미지 합쳐야하는데 이걸 쓰면 크기가 바뀌어서 일단 빼놓음.. */
  backface-visibility: hidden;
  transition: 1s;
  transform: rotateY(0deg);
  z-index: 2;
}

.back {
  width: 100%;
  height: 100%;
  transform: rotateY(180deg);
  transition: 1s;
}

.flip:hover .front {
  transform: rotateY(180deg);
}
.flip:hover .back {
  transform: rotateY(0deg);
}

/* 여백수정 */

.b_wrap .flip {
  margin: 20px;
}

ul {
  margin: 0 auto;
  text-align: center;
}

.back {
  min-width: 225px;
  padding: 20px;
  margin: 20px;
}

.front {
  min-width: 225px;
  padding: 20px;
  margin: 20px;
}


@media screen and (max-width: 768px) {
  .container{
    width: 70%;
  }
}