@charset "utf-8";

/* ----- 공통 ----- */

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  max-width: 1400px;
  margin: 0px auto;
  text-align: center;
}

ol,
ul {
  list-style: none;
  padding: 0;
}

div {
  display: inline;
}

a {
  display: inline-block;
  text-decoration: none;
}

a:link {
  color: #2e2e2e;
}
a:visited {
  color: #2e2e2e;
}
a:active {
  color: #2e2e2e;
}

/* ----- 글씨 ----- */

.b_wrap .title {
  color: #2e2e2e;
  font-size: 23px;
  font-weight: 500;
  margin: 10px 0;
}

.b_wrap .subTitleEng {
  color: #ee72d8;
  /* font-size: 0.938em; */
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase; /* 대소문자 */
  display: inline;
}

.b_wrap .back .app-text {
  color: white;
  font-size: 20px;
  position: relative; /*위치조정*/
  top: 85px;
}

/* ----- front 이미지 ----- */

.b_wrap .img_wrap {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 185px;
}

.b_wrap img {
  width: 100px;
  margin: 0 auto;
  margin-top: 45px;
  padding-bottom: 50px;
  object-fit: cover;
}

#appicon {
  width: auto;
  height: 125px; /* 앱개발 아이콘 이미지 크기조정*/
  margin-top: 55px;
}

#metaverse {
  margin-top: 60px; /* 아이콘 이미지 위치조정*/
}

/* front */
/* ----- 영역 ----- */

.b_wrap {
  display: block;
  height: 750px;
  padding-top: 200px;
}

.b_wrap .container {
  max-width: 1400px;
}

.b_wrap .container .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* ----- 카드 배치 ----- */

.b_wrap .flip {
  min-width: 22%;
  display: inline-block;
  position: relative;
  /* width: calc(100% / 4 - 3%); */
  height: 350px;
  text-align: center;
  margin: 0 auto;
  margin: 20px;
  padding: 0;
  transition: 1s;
  /* perspective: 1000px; */ /* 원근감 */
  /* perspective-origin: 50% 50%; */
}

.b_wrap .flip-item {
  width: 100%;
  display: inline-block;
  padding-top: 50px;
  padding-bottom: 50px;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

/* 애니메이션 */
/* ----- back 이미지 ----- */

#back1 {
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle, #0000003a, #000000d5),
    url("../images/앱개발.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
}

#back2 {
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle, #0000003a, #000000d5),
    url("../images/웹구축.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
}

#back3 {
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle, #0000003a, #000000d5),
    url("../images/AI기술개발.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
}

#back4 {
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle, #0000003a, #000000d5),
    url("../images/XR콘텐츠.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
}

/* ----- 마우스오버 ----- */

.front {
  min-width: 230px;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: #f6f6f6;
  position: absolute;
  backface-visibility: hidden;
  transition: 1s;
  transform: rotateY(0deg);
  z-index: 2;
}

.back {
  min-width: 230px;
  width: 100%;
  height: 100%;
  padding: 20px;
  transform: rotateY(180deg);
  transition: 1s;
}

.flip:hover .front {
  transform: rotateY(180deg);
}
.flip:hover .back {
  transform: rotateY(0deg);
}

/* ----- 반응형웹 ----- */

@media screen and (max-width: 1330px) {
  .row {
    width: auto;
  }

  .flip {
    display: none; /*크롬 미디어쿼리 적용*/
    width: 43.33333333%;
  }
}

@media screen and (max-width: 600px) {
  .row {
    width: auto;
    /* flex-wrap: wrap; */
  }

  .flip {
    display: none; /*크롬 미디어쿼리 적용*/
    width: auto;
  }
}
