@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  max-width: 1400px;
  margin: 0px auto;
}

ol,
ul {
  list-style: none;
  padding: 0;
}

div {
  display: inline;
}

a {
  display: inline-block;
  text-decoration: none;

  /* width: 100%;
    height: 100%; */
  /* background-color: #ffc6f5; */
}

a:link {
  color: #2e2e2e;
}
a:visited {
  color: #2e2e2e;
}
a:active {
  color: #2e2e2e;
}

/* ---------- */

.b_wrap {
  display: block;
  height: 750px;
  padding-top: 200px;
  /* overflow: hidden; */
}

/* .app-text{
}
 

.b_wrap p {
    width: 100%;
}*/

/* 글씨 */

.b_wrap .title {
  font-size: 23px;
  margin: 10px 0;
  font-weight: 500;
  color: #2e2e2e;
}

.b_wrap .subTitleEng {
  display: inline;
  font-weight: 600;
  /* font-size: 0.938em; */
  letter-spacing: 3px;
  color: #ee72d8;
  text-transform: uppercase;
}

/* 이미지 */

.img_wrap {
  display: inline-block;
  position: relative;

  width: 100%;
  height: 185px;
}

.b_wrap img {
  width: 100px;
  object-fit: cover;

  margin: 0 auto;
  margin-top: 40px;
  padding-bottom: 50px;
}

/* 카드 4등분 */
.b_wrap .con {
  max-width: 1400px;
  margin: 0 auto;
}

.b_wrap .flip {
  display: inline-block;
  position: relative;
  padding: 20px;
  height: 350px;
  text-align: center;
  margin: 0 auto;
  /* margin: 1.250em; */
  /* perspective: 1000px; */
  transition: 1s;
  /* perspective-origin: 50% 50%; */
}

.b_wrap .flip .flip-item {
  position: absolute;
  
  width: 100%;
  height: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  /* background-color: red; */

  display: inline-block;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

/* 애니메이션 */
/* back 이미지 */

#back1 {
  width: 100%;
  height: 100%;
  background-image: url("../images/앱개발.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  background-position: center center;

}

#back2 {
  width: 100%;
  height: 100%;
  background-image: url("../images/웹구축.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
}

#back3 {
  width: 100%;
  height: 100%;
  background-image: url("../images/AI기술개발.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
}

#back4 {
  width: 100%;
  height: 100%;
  background-image: url("../images/XR콘텐츠.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
}

.app-text {
  color: white;
  font-size: 18px;
}


/* 마우스오버 */

.front {
  background-color: #f6f6f6;
  position: absolute;
  backface-visibility: hidden;
  transition: 1s;
  transform: rotateY(0deg);
  z-index: 1;
}

.back {
  transform: rotateY(-180deg);
  
}

.flip:hover .front {
  transform: rotateY(180deg);
}
.flip:hover .back {
  transform: rotateY(0deg);
}

