@import url ('폰트');

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    display:;
  }
  
html {
    scroll-behavior: smooth;
}



.topBtn{
    border-radius: 50%; 
    position:fixed;
    width:45px;
    height:45px;
    background: white;
    bottom:55px;
    right:30px;

    text-decoration: none;
    text-align: center; 
    color: blue;
    font-size: 20px;
}



.topBtn p{
    padding-top:20px;
    color: gray;

}


/* header css */

body {
    width:100%;

}


header {
    position: absolute;
    background-color: transparent;
    overflow: hidden;
    color: #fff;
    padding: 0px;
    margin: 0 ;
    z-index: 1;

}

.logo {
    padding: 30px;
    float:left;
}


/* main css */


#main{
    width:100%;
    height:120vh;
    background: url('../images/헤더배경.png') center center;
    background-size: cover; /*사이즈조절*/
    display: flex;
    align-items: center;
    color: white;
    vertical-align:top;
}

#main .main-photo {
    position: absolute;
    left: 650px;
    top: 160px;

}
#main .title {
    padding-left: 30px;
}

#main h4{
    font-size: 2.5rem;
    margin: ;
}

#main span{
    font-size: 1rem;
    margin-top: 0;
}





@media screen and (max-width:800px) {
    .logo { 
        width:50%; 
        object-fit:contain;
       }

    .main-photo {
        width:100%;
    }

    #main h4{
        font-size: 2rem;
        margin: ;
    }
    
    
    #main  {
        background: url('../images/헤더배경sm.png');
    }
}