@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap');

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;

  }
  
html {
    scroll-behavior: smooth;
}



/* 스크롤 버튼 css */

.topbtn { 
    z-index: 99999;
    position: fixed;
    bottom: 7%;
    right: 7%;
    border-radius: 50%; 
    border: 1px solid rgb(179, 179, 179);
    width:45px;
    height:45px;
    background-color: white;
    text-decoration: none;
    text-align: center;
}

.topbtn i {
    color: rgb(39, 39, 39);
    padding-top: 30%;
 
}


.topbtn p{
    padding-top: 20px;
    font-size: 16px;
    font-weight: 500;
    color: rgb(179, 179, 179)
    
}


/* 상단 배경 메뉴 css */

.header {
    width: 100%;
    height: 830px;
    z-index: 9999;
    position: relative;
    background: url('../images/헤더배경.png') no-repeat;
    background-repeat: round;
}


.header .wrapper {
    max-width: 100%;
    position: relative;
}

.header .toplogo {
    float: left;
    margin: 20px 0 0 20px;
}




/* 메인 내용 css */


.main{
    height: 100%;
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
}

.main .main_photo {
    position: absolute;
    right: 2%;
    top: 20%;
}

.main .text_wrap {
    top:45%;
    left:2%;
    position: absolute; 
    text-align: left;
    color: white;
}

.main .text_wrap h4{
    font-size:300%;
    font-weight: bold;
    margin-bottom: 5%;
}

.main .text_wrap p{
    font-size:100%;
    max-width: 600px;
    font-weight: 500;
    line-height: 120%;

}




@media screen and (max-width:940px) {
    
    .header {
        background: url('../images/헤더배경sm.png') no-repeat;
        background-position-x: right;
        height: 900px;
    }


    .header .logo { 
        width: 65%;
    }

    .main{
        max-width: 900px;
        position: relative;
    }

    .main .main_photo {
        width: 65%;
        position: absolute;
        top:10%;
        right:60%;
    }
    

    .main .text_wrap {
        top: 50%;
        left: 10%;
        max-width: 350px;
    }

    
    .main .text_wrap h4{
        font-size: 220%;
    }
    
}




