@charset "utf-8";
/***** Reset *****/
*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;  
    vertical-align: baseline;
}
body{
    max-width: 100%;
    font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box;
    line-height: 1;
}
a {
    /* color: -webkit-link; */
    cursor: pointer;
    text-decoration: none;
}

/***** centerlogo *****/
.centerlogo_wrap{
    background-color: #04088a;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    height: 300px;
}
.center_logo{
    position: relative;
    height: 100%;
    max-width: 1400px;
    margin: 0 auto;
    visibility: visible;
}
.center_logo img{
    position: absolute;
    bottom: 0;
    left: 0;
}
@media screen and (max-width:1500px){
    .center_logo img{
        left: 2%;
    }
}
@media screen and (max-width:1217px){
    .centerlogo_wrap{
        height: 250px;
    }
    .center_logo img{
        width: 50%;
    }
}
@media screen and (max-width:940px){
    .centerlogo_wrap{
        height: 400px;
        text-align: center;
    }
    .center_logo img{
        width: 60%;
        position: unset;
        margin: 70px;
    }
}
@media screen and (max-width:430px){
    .centerlogo_wrap{
        height: 320px;
    }
    .center_logo img{
        margin: 53px;
    }
}
/***** End center_logo *****/

/***** map *****/
.map_info_p{
    line-height: 25px;
    font-size: 18px;
}
.index_kakao_map{
    width: 65%;
    height: 45vw;
    max-width: 1400px;
    position:relative;
    overflow:hidden; 
    background: url("http://t1.daumcdn.net/mapjsapi/images/2x/bg_tile.png"); 
}
.map_wrap{
    margin: 200px 200px;
    /* margin-left: 200px; */
    display: flex;
    gap: 90px;
}

.map_wrap .map_info_wrap{
    display: flex;
    gap: 35px;
    flex-direction: column;
    font-size: 18px;
    text-align: left;
    margin-top: 75px;
    visibility:visible;
}
.map_wrap .map_info_wrap .map_info > p:first-child {
    font-weight: 600;
    margin-bottom: 15px;
}
.map_wrap .map_info_wrap .map_info a p, .map_wrap .map_info_wrap .map_info p:last-child {
    color: #7b7b7b;
}
.map_wrap .map_info_wrap .map_info p:last-child {
    line-height: 25px;
}
.fadeIn{
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}
.fadeInRight{
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}
.fadeInDown{
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}
@media screen and (max-width: 1300px){
    .map_wrap{
    gap: 50px;
    margin: 200px 50px;}
    .index_kakao_map{
        height: 585px;
    }
    .map_wrap .map_info_wrap{
        width: 40%;
    }
}
@media screen and (max-width:1217px){
    .index_kakao_map{
        height: 650px;
    }
}
@media screen and (max-width: 940px){
    .map_wrap{
    gap: 50px;
    }
    .index_kakao_map{
        width: 90%;
        height: 600px;
    }
}
@media screen and (max-width: 640px){
    .map_wrap{
    flex-direction: column-reverse;
    margin: 0;
    margin-bottom: 300px;
    align-items: center;
    }
    .map_wrap .map_info_wrap{
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0;
    gap: 0;
    width: 90%;
    }
    .map_wrap .map_info_wrap .map_info{
    width: 50%;
    margin-bottom: 50px;
    }
}
@media screen and (max-width:430px){
    .map_wrap .map_info_wrap{
    flex-direction: column;
    }
    .map_wrap .map_info_wrap .map_info{
    width: 100%;
    margin-bottom: 23px;
    }
}
/***** End map *****/

/***** footer *****/
.footer_wrap{
    background-image: url(../images/footer2.png);
    background-size: cover;
    margin: 0 auto;
    padding: 80px 50px;
    display: flex;
}
.footer_wrap .footer_content{
    margin-left: 5%;
    width: 85%;
    display: inline-block;
}
.footer_content .footer_content_main{
    color: white;
    font-size: 19px;
    text-align: left;
    margin-bottom: 10px;
}
.footer_content .footer_info_wrap, .footer_info a{
    color: #b9b9b9;
    line-height: 25px;
}
.footer_info_wrap .footer_info{
    display: flex;
    flex-wrap: wrap;
}
.footer_info_wrap .footer_info p{
    text-align: left;   
    margin: 0 !important;
    width: 50%;
}
/* text-align: left; 추가 합쳤을 때 중앙 정렬 방지 */

.footer_info p:nth-of-type(5){
    width: 100%;
}
.footer_wrap .copyright{
    color: #828282;
    font-size: 16px;
    text-align: left;
}
.footer_info_p{
    font-size: 16px;
}
@media screen and (min-width:1300px){
    .footer_wrap .footer_logo {
        margin-left: 250px;
    }
}
@media screen and (max-width:1299px){
    .footer_wrap > div {
    margin-left: 0px;
    }
}
@media screen and (max-width:940px){
    .footer_wrap .footer_content_main{
    font-size: 16px;
    }
    .footer_wrap .footer_content .footer_info_wrap{
    font-size: 14px;
    }
    .footer_info_p{
    font-size: 14px;
    }
}
@media screen and (max-width:640px){
    .footer_wrap{
    padding: 40px;
    display: block;
    }
    .footer_wrap .footer_content_main, .footer_info_wrap .copyright{
    font-size: 16px;
    }
    .footer_wrap .footer_logo{
        text-align: center;
        margin-bottom: 20px;
        }
    .footer_wrap .footer_logo img{
    width: 30%;
    height: auto;
    float: none;
    }
}
@media screen and (max-width:430px){
    .footer_wrap{
    padding: 30px 15px;
    }
    .footer_wrap .footer_logo img{
    width: 130px;
    height: auto;
    }
}
/***** End footer *****/
