.cus-wrap{

}
.ecoce-bot{
    width: 300px;
    height: 250px;
    display: block;

    margin-top:300px;
    margin: left 800px;
    margin-right: 50px;
    float: right;

}
   
.ministry-Envrion-img{
  float: right ;

;
}
.ecoce-img-wrap{
position: right;
} 

.eco-clean-earth{
text-align: right;
}

.box-wrap{

}

.img-btn{

}

.box btn{


}
p {


    font-size: 50px;

}
.box_wrap {

    background-color: navy;
    
    }
    