.cus-wrap{

}
.ecoce-bot{
    width: 300px;
    height: 250px;
    display: block;

    margin-top:300px;
    margin: left 800px;
    margin-right: 50px;
    float: right;
    display: block;
}
   
.ministry-Envrion-img{
    top: 30%;
    width:25%;
  float: right ;
  display: block;
  font-weight: 600;
    
}
.ecoce-img-wrap{
relative
position: right;
position:relative;,
position:absolute;} 

.eco-clean-earth{
text-align: right;
font}

.box-wrap{

}

.img-btn{

}

.box btn{


}
p {


    font-size: 50px;

}
.box_wrap {

    background-color: navy;
    
    }
    